/* This stylesheet is used to style the admin option form of the plugin. */

.recording-on {
	font-family: sans-serif;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #397D02;
	border: 0 none;
	background: #BCED91;
}

.recording-off {
	font-family: sans-serif;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #E04006;
	border: 0 none;
	background: #FFA07A;
}

#toplevel_page_wp-insights-admin-main-menu .wp-menu-image img {
	padding: 4px 0 0 5px;
}

#wp-insights-icon32-eye32 {
	margin: 7px 0px 0 0;
}