USE [FITDEV]
GO
/****** Object:  Table [dbo].[CMC_SGSG_SUB_GROUP]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_SGSG_SUB_GROUP](
	[SGSG_CK] [int] NOT NULL,
	[GRGR_CK] [int] NOT NULL,
	[SGSG_ID] [char](4) NOT NULL,
	[SGSG_NAME] [char](50) NOT NULL,
	[SGSG_ADDR1] [char](40) NOT NULL,
	[SGSG_ADDR2] [char](40) NOT NULL,
	[SGSG_ADDR3] [char](40) NOT NULL,
	[SGSG_CITY] [char](19) NOT NULL,
	[SGSG_STATE] [char](2) NOT NULL,
	[SGSG_ZIP] [char](11) NOT NULL,
	[SGSG_COUNTY] [char](20) NOT NULL,
	[SGSG_CTRY_CD] [char](4) NOT NULL,
	[SGSG_PHONE] [char](20) NOT NULL,
	[SGSG_PHONE_EXT] [char](4) NOT NULL,
	[SGSG_FAX] [char](20) NOT NULL,
	[SGSG_FAX_EXT] [char](4) NOT NULL,
	[SGSG_EMAIL] [char](40) NOT NULL,
	[SGSG_MCTR_TYPE] [char](4) NOT NULL,
	[SGSG_MCTR_VIP] [char](4) NOT NULL,
	[CSCS_ID] [char](4) NOT NULL,
	[SGSG_STS] [char](2) NOT NULL,
	[SGSG_ORIG_EFF_DT] [datetime] NOT NULL,
	[SGSG_TERM_DT] [datetime] NOT NULL,
	[SGSG_MCTR_TRSN] [char](4) NOT NULL,
	[EXCD_ID] [char](3) NOT NULL,
	[SGSG_RNST_DT] [datetime] NOT NULL,
	[SGSG_CONV_DT] [datetime] NOT NULL,
	[SGSG_RENEW_MMDD] [smallint] NOT NULL,
	[SGSG_PREV_ANNV_DT] [datetime] NOT NULL,
	[SGSG_CURR_ANNV_DT] [datetime] NOT NULL,
	[SGSG_NEXT_ANNV_DT] [datetime] NOT NULL,
	[SGSG_MCTR_PTYP] [char](4) NOT NULL,
	[SGSG_UNDW_USUS_ID] [char](10) NOT NULL,
	[SGSG_BL_CONV_DT] [datetime] NOT NULL,
	[SGSG_NAME_XLOW] [char](8) NOT NULL,
	[SGSG_CITY_XLOW] [char](8) NOT NULL,
	[SGSG_MCTR_LANG] [char](4) NOT NULL,
	[SGSG_EXTN_ADDR_IND] [char](1) NOT NULL,
	[WMDS_SEQ_NO] [smallint] NOT NULL,
	[SGSG_TOTAL_EMPL] [int] NOT NULL,
	[SGSG_TOTAL_ELIG] [int] NOT NULL,
	[SGSG_TOTAL_CONTR] [int] NOT NULL,
	[SGSG_POL_NO] [char](30) NOT NULL,
	[SGSG_EIN] [char](9) NOT NULL,
	[SGSG_ERIS_MMDD] [smallint] NOT NULL,
	[SGSG_RECD_DT] [datetime] NOT NULL,
	[SGSG_RUNOUT_DT] [datetime] NOT NULL,
	[SGSG_RUNOUT_EXCD] [char](3) NOT NULL,
	[SGSG_TRANS_ACCEPT] [char](1) NOT NULL,
	[SGSG_CONT_EFF_DT] [datetime] NOT NULL,
	[SGSG_TERM_PREM_MOS] [smallint] NOT NULL,
	[SGSG_RNST_TYPE] [char](1) NOT NULL,
	[SGSG_RNST_VAL] [smallint] NOT NULL,
	[SGSG_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_SGSG_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[SGSG_CK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_SBSB_SUBSC]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_SBSB_SUBSC](
	[SBSB_CK] [int] NOT NULL,
	[GRGR_CK] [int] NOT NULL,
	[SBSB_ID] [char](9) NOT NULL,
	[SBSB_LAST_NAME] [char](35) NOT NULL,
	[SBSB_FIRST_NAME] [char](15) NOT NULL,
	[SBSB_MID_INIT] [char](1) NOT NULL,
	[SBSB_TITLE] [char](10) NOT NULL,
	[SBSB_ORIG_EFF_DT] [datetime] NOT NULL,
	[SBSB_MCTR_STS] [char](4) NOT NULL,
	[SBSB_MCTR_VIP] [char](1) NOT NULL,
	[SBSB_MCTR_SRSN] [char](4) NOT NULL,
	[SBSB_PRCS_STS] [char](2) NOT NULL,
	[SBSB_EMPLOY_ID] [char](10) NOT NULL,
	[SBSB_HIRE_DT] [datetime] NOT NULL,
	[SBSB_RETIRE_DT] [datetime] NOT NULL,
	[SBSB_CONV_DT] [datetime] NOT NULL,
	[SBSB_FI] [char](1) NOT NULL,
	[SBSB_PAY_CL_METH] [char](1) NOT NULL,
	[SBSB_EFT_IND] [char](1) NOT NULL,
	[SBAD_TYPE_HOME] [char](1) NOT NULL,
	[SBAD_TYPE_MAIL] [char](1) NOT NULL,
	[SBAD_TYPE_WORK] [char](1) NOT NULL,
	[SBSB_LAST_NAME_XLOW] [char](8) NOT NULL,
	[MCBR_CK] [int] NOT NULL,
	[SBSB_SIG_DT] [datetime] NOT NULL,
	[SBSB_RECD_DT] [datetime] NOT NULL,
	[SBSB_PAY_FSAC_METH] [char](1) NOT NULL,
	[SBSB_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_SBSB_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[SBSB_CK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_PRPR_PROV]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_PRPR_PROV](
	[PRPR_ID] [char](12) NOT NULL,
	[PRPR_ENTITY] [char](1) NOT NULL,
	[PRCR_ID] [char](12) NOT NULL,
	[TPCT_MCTR_TCAT] [char](1) NOT NULL,
	[PRPR_PAY_CL_METH] [char](1) NOT NULL,
	[PRPR_MCTR_TYPE] [char](4) NOT NULL,
	[PRPR_MCTR_PRTY] [char](4) NOT NULL,
	[PRCF_MCTR_SPEC] [char](4) NOT NULL,
	[PRPR_NAME] [char](55) NOT NULL,
	[PRPR_NPI] [char](10) NOT NULL,
	[PRCP_ID] [char](12) NOT NULL,
	[PRAD_ID] [char](12) NOT NULL,
	[PRAD_TYPE_CHECK] [char](3) NOT NULL,
	[PRAD_TYPE_PRIM] [char](3) NOT NULL,
	[MCTN_ID] [char](9) NOT NULL,
	[PRPR_STS] [char](2) NOT NULL,
	[PRPR_MCTR_REV] [char](4) NOT NULL,
	[PRPR_PREAUTH_IND] [char](1) NOT NULL,
	[PRPR_PAY_HOLD_DT] [datetime] NOT NULL,
	[PRPR_OPTS] [char](8) NOT NULL,
	[PRPR_CL_EFT_IND] [char](1) NOT NULL,
	[PRPR_CAP_EFT_IND] [char](1) NOT NULL,
	[PRPR_NAME_XLOW] [char](8) NOT NULL,
	[PRPR_LAST_CHAN_DTM] [datetime] NOT NULL,
	[PRPR_MCTR_LANG] [char](4) NOT NULL,
	[PRPR_EXTN_ADDR_IND] [char](1) NOT NULL,
	[MCBR_CK] [int] NOT NULL,
	[USUS_ID] [char](10) NOT NULL,
	[CRCY_ID] [char](12) NOT NULL,
	[PRPR_TERM_DT] [datetime] NOT NULL,
	[PRPR_MCTR_TRSN] [char](4) NOT NULL,
	[PRPR_TAXONOMY_CD] [char](12) NOT NULL,
	[PRPR_EDI_DEST_ID] [char](15) NOT NULL,
	[PRPR_EDI_DEST_QUAL] [char](2) NOT NULL,
	[PRPR_RA_DEST_IND] [char](1) NOT NULL,
	[PRPR_CLRNGHOUSE_ID] [char](30) NOT NULL,
	[PRPR_LAST_MCPA_DTM] [datetime] NOT NULL,
	[PRPR_PR_RED_CD] [char](1) NOT NULL,
	[PRCF_MCTR_SPEC2] [char](4) NOT NULL,
	[PRPR_MCTR_VAL1] [char](4) NOT NULL,
	[PRPR_MCTR_VAL2] [char](4) NOT NULL,
	[PRPR_RMT_TRANS_CD] [char](2) NOT NULL,
	[PRPR_RMT_DEL_NAME] [varchar](50) NOT NULL,
	[PRPR_RMT_COMM_NO] [varchar](256) NOT NULL,
	[PRPR_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_PRPR_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[PRPR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_PLDS_PLAN_DESC]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_PLDS_PLAN_DESC](
	[CSPI_ID] [char](8) NOT NULL,
	[PLDS_DESC] [char](70) NOT NULL,
	[PLDS_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_PLDS_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[CSPI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_PDDS_PROD_DESC]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_PDDS_PROD_DESC](
	[PDPD_ID] [char](8) NOT NULL,
	[PDDS_DESC] [varchar](70) NOT NULL,
	[PDDS_UM_IND] [char](1) NOT NULL,
	[PDDS_MED_PRICE_IND] [char](1) NOT NULL,
	[PDDS_MED_CLMS_IND] [char](1) NOT NULL,
	[PDDS_DEN_UM_IND] [char](1) NOT NULL,
	[PDDS_DEN_PD_IND] [char](1) NOT NULL,
	[PDDS_DEN_PRICE_IND] [char](1) NOT NULL,
	[PDDS_DEN_CLMS_IND] [char](1) NOT NULL,
	[PDDS_PREM_IND] [char](1) NOT NULL,
	[PDDS_CLED_IND] [char](1) NOT NULL,
	[PDDS_CAP_IND] [char](1) NOT NULL,
	[PDDS_INT_STATE_IND] [char](1) NOT NULL,
	[PDDS_MCTR_BCAT] [char](4) NOT NULL,
	[PDDS_MCTR_VAL1] [char](4) NOT NULL,
	[PDDS_MCTR_VAL2] [char](4) NOT NULL,
	[PDDS_APP_TYPE] [char](1) NOT NULL,
	[PDDS_PROD_TYPE] [char](1) NOT NULL,
	[PDDS_DOFR_IND] [char](1) NOT NULL,
	[PDDS_OPTOUT_IND] [char](1) NOT NULL,
	[PDDS_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_PDDS_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[PDPD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_MEPE_PRCS_ELIG]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_MEPE_PRCS_ELIG](
	[MEME_CK] [int] NOT NULL,
	[CSPD_CAT] [char](1) NOT NULL,
	[MEPE_EFF_DT] [datetime] NOT NULL,
	[MEPE_TERM_DT] [datetime] NOT NULL,
	[MEPE_CREATE_DTM] [datetime] NOT NULL,
	[CSCS_ID] [char](4) NOT NULL,
	[GRGR_CK] [int] NOT NULL,
	[SGSG_CK] [int] NOT NULL,
	[CSPI_ID] [char](8) NOT NULL,
	[PDPD_ID] [char](8) NOT NULL,
	[MEPE_ELIG_IND] [char](1) NOT NULL,
	[EXCD_ID] [char](3) NOT NULL,
	[MEPE_MCTR_RSN] [char](4) NOT NULL,
	[MEPE_SYS_INEL_CD] [char](4) NOT NULL,
	[MEPE_FI] [char](1) NOT NULL,
	[MEPE_ELIG_OVR_IND] [char](1) NOT NULL,
	[MEPE_HAS_MEDX_IND] [char](1) NOT NULL,
	[MEPE_HAS_WARN_CD] [char](1) NOT NULL,
	[MEPE_PRCS_STS] [char](2) NOT NULL,
	[MEPE_SOURCE] [char](1) NOT NULL,
	[MEPE_PLAN_ENTRY_DT] [datetime] NOT NULL,
	[MEPE_LOCK_TOKEN] [smallint] NOT NULL,
 CONSTRAINT [CMCX_MEPE_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[MEME_CK] ASC,
	[CSPD_CAT] ASC,
	[MEPE_EFF_DT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_MEME_MEMBER]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_MEME_MEMBER](
	[MEME_CK] [int] NOT NULL,
	[GRGR_CK] [int] NOT NULL,
	[SBSB_CK] [int] NOT NULL,
	[MEME_SFX] [smallint] NOT NULL,
	[MEME_REL] [char](1) NOT NULL,
	[MEME_ID_NAME] [char](6) NOT NULL,
	[MEME_LAST_NAME] [char](35) NOT NULL,
	[MEME_FIRST_NAME] [char](15) NOT NULL,
	[MEME_MID_INIT] [char](1) NOT NULL,
	[MEME_TITLE] [char](10) NOT NULL,
	[MEME_ORIG_EFF_DT] [datetime] NOT NULL,
	[MEME_SSN] [char](9) NOT NULL,
	[MEME_SEX] [char](1) NOT NULL,
	[MEME_BIRTH_DT] [datetime] NOT NULL,
	[MEME_WRK_PHONE] [char](20) NOT NULL,
	[MEME_WRK_PHONE_EXT] [char](4) NOT NULL,
	[MEME_MCTR_STS] [char](4) NOT NULL,
	[MEME_MCTR_LANG] [char](4) NOT NULL,
	[MEME_RECORD_NO] [char](11) NOT NULL,
	[MEME_LATE_ENR_IND] [char](1) NOT NULL,
	[MEME_MARITAL_STATUS] [char](1) NOT NULL,
	[MEME_HICN] [char](12) NOT NULL,
	[MEME_MEDCD_NO] [char](20) NOT NULL,
	[MEME_FAM_LINK_ID] [char](12) NOT NULL,
	[SBAD_TYPE_HOME] [char](1) NOT NULL,
	[SBAD_TYPE_MAIL] [char](1) NOT NULL,
	[SBAD_TYPE_WORK] [char](1) NOT NULL,
	[MEME_LAST_NAME_XLOW] [char](8) NOT NULL,
	[MEME_CCC_START_DT] [datetime] NOT NULL,
	[MEME_CCC_END_DT] [datetime] NOT NULL,
	[MEME_PREX_EFF_DT] [datetime] NOT NULL,
	[MEME_PRX_CRED_DAYS] [smallint] NOT NULL,
	[MEME_EXC_CRED_DAYS] [smallint] NOT NULL,
	[MEME_MCTR_ATYP] [char](4) NOT NULL,
	[MEME_ELIG_DT] [datetime] NOT NULL,
	[MEME_QUALIFY_DT] [datetime] NOT NULL,
	[MEME_NEW_SIG_DT] [datetime] NOT NULL,
	[MEME_PRBL_IND] [char](1) NOT NULL,
	[MEME_PRBL_EFF_DT] [datetime] NOT NULL,
	[MEME_EOI_TERM_DT] [datetime] NOT NULL,
	[MEME_PREX_TERM_DT] [datetime] NOT NULL,
	[MEME_PREX_LIMIT1] [smallint] NOT NULL,
	[MEME_PREX_LIMIT2] [smallint] NOT NULL,
	[MEME_PREX_LIMIT3] [smallint] NOT NULL,
	[MCRL_MEME_CREL_CD] [char](2) NOT NULL,
	[MEME_HIST_LINK_ID] [char](12) NOT NULL,
	[MEME_CELL_PHONE] [varchar](20) NOT NULL,
	[MEME_HEALTH_ID] [varchar](80) NOT NULL,
	[MEME_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_MEME_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[MEME_CK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_CSPD_DESC]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_CSPD_DESC](
	[CSPD_CAT] [char](1) NOT NULL,
	[CSPD_CAT_DESC] [char](70) NOT NULL,
	[CSPD_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_CSPD_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[CSPD_CAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_CSCS_CLASS]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_CSCS_CLASS](
	[GRGR_CK] [int] NOT NULL,
	[CSCS_ID] [char](4) NOT NULL,
	[CSCS_DESC] [char](70) NOT NULL,
	[TPCT_PFX] [char](4) NOT NULL,
	[CSCS_OPTS] [char](4) NOT NULL,
	[PLPB_PFX] [char](4) NOT NULL,
	[CSCS_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
	[SYS_LAST_UPD_DTM] [datetime] NULL,
	[SYS_USUS_ID] [varchar](48) NULL,
	[SYS_DBUSER_ID] [varchar](48) NULL,
 CONSTRAINT [CMCX_CSCS_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[GRGR_CK] ASC,
	[CSCS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMC_CLCL_CLAIM]    Script Date: 01/23/2013 14:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMC_CLCL_CLAIM](
	[CLCL_ID] [char](12) NOT NULL,
	[MEME_CK] [int] NOT NULL,
	[GRGR_CK] [int] NOT NULL,
	[SBSB_CK] [int] NOT NULL,
	[SGSG_CK] [int] NOT NULL,
	[CLCL_CL_TYPE] [char](1) NOT NULL,
	[CLCL_CL_SUB_TYPE] [char](1) NOT NULL,
	[CLCL_PRE_PRICE_IND] [char](1) NOT NULL,
	[CLCL_CUR_STS] [char](2) NOT NULL,
	[CLST_MCTR_REAS] [char](4) NOT NULL,
	[CLST_SEQ_NO] [smallint] NOT NULL,
	[CLCL_SITE] [char](2) NOT NULL,
	[CLCL_LAST_ACT_DTM] [datetime] NOT NULL,
	[CLCL_INPUT_DT] [datetime] NOT NULL,
	[CLCL_RECD_DT] [datetime] NOT NULL,
	[CLCL_ACPT_DTM] [datetime] NOT NULL,
	[CLCL_PAID_DT] [datetime] NOT NULL,
	[CLCL_NEXT_REV_DT] [datetime] NOT NULL,
	[CLCL_LOW_SVC_DT] [datetime] NOT NULL,
	[CLCL_HIGH_SVC_DT] [datetime] NOT NULL,
	[CLCL_ID_ADJ_TO] [char](12) NOT NULL,
	[CLCL_ID_ADJ_FROM] [char](12) NOT NULL,
	[CLCL_ID_CRTE_FROM] [char](12) NOT NULL,
	[CSPD_CAT] [char](1) NOT NULL,
	[PZAP_ID] [char](4) NOT NULL,
	[CSCS_ID] [char](4) NOT NULL,
	[CSPI_ID] [char](8) NOT NULL,
	[PDPD_ID] [char](8) NOT NULL,
	[MEPE_FI] [char](1) NOT NULL,
	[MEPE_PLAN_ENTRY_DT] [datetime] NOT NULL,
	[CLCL_COBRA_IND] [char](1) NOT NULL,
	[CLCL_ME_AGE] [smallint] NOT NULL,
	[MEME_REL] [char](1) NOT NULL,
	[MEME_SEX] [char](1) NOT NULL,
	[MEME_RECORD_NO] [char](11) NOT NULL,
	[MEME_HICN] [char](12) NOT NULL,
	[NWPE_PFX] [char](4) NOT NULL,
	[NWPR_PFX] [char](4) NOT NULL,
	[NWCR_PFX] [char](4) NOT NULL,
	[PDBC_PFX_NPPR] [char](4) NOT NULL,
	[PDBC_PFX_SEDF] [char](4) NOT NULL,
	[PRAC_PFX] [char](4) NOT NULL,
	[PCAG_PFX] [char](4) NOT NULL,
	[MDPC_PFX] [char](4) NOT NULL,
	[NWNW_ID] [char](12) NOT NULL,
	[AGAG_ID] [char](12) NOT NULL,
	[CLCL_MED_ASSGN_IND] [char](1) NOT NULL,
	[CLCL_PAY_PR_IND] [char](1) NOT NULL,
	[CLCL_PAYEE_PR_ID] [char](12) NOT NULL,
	[CLCL_REL_INFO_IND] [char](1) NOT NULL,
	[CLCL_OTHER_BN_IND] [char](1) NOT NULL,
	[CLCL_ACD_IND] [char](1) NOT NULL,
	[CLCL_ACD_STATE] [char](2) NOT NULL,
	[CLCL_ACD_DT] [datetime] NOT NULL,
	[CLCL_ACD_AMT] [money] NOT NULL,
	[CLCL_CURR_ILL_DT] [datetime] NOT NULL,
	[CLCL_SIMI_ILL_DT] [datetime] NOT NULL,
	[PRPR_ID] [char](12) NOT NULL,
	[CLCL_PR_SS_EIN_IND] [char](1) NOT NULL,
	[CLCL_NTWK_IND] [char](1) NOT NULL,
	[CLCL_PCP_IND] [char](1) NOT NULL,
	[CLCL_PRPR_ID_PCP] [char](12) NOT NULL,
	[CLCL_PRPR_ID_REF] [char](12) NOT NULL,
	[CLCL_PA_ACCT_NO] [varchar](35) NOT NULL,
	[CLCL_EXT_AUTH_NO] [char](18) NOT NULL,
	[CLCL_PA_PAID_AMT] [money] NOT NULL,
	[CLCL_TOT_CHG] [money] NOT NULL,
	[CLCL_TOT_PAYABLE] [money] NOT NULL,
	[CLCL_DRAG_OR_IND] [char](1) NOT NULL,
	[CLCL_DRAG_DT] [datetime] NOT NULL,
	[CLCL_INPUT_METH] [char](1) NOT NULL,
	[CLCL_AIAI_EOB_IND] [char](1) NOT NULL,
	[CLCL_EOB_EXCD_ID] [char](3) NOT NULL,
	[CLCL_BATCH_ID] [char](8) NOT NULL,
	[CLCL_BATCH_ACTION] [char](1) NOT NULL,
	[CLCL_CE_IND] [char](1) NOT NULL,
	[CLCL_CAP_IND] [char](1) NOT NULL,
	[CLCL_AG_SOURCE] [char](1) NOT NULL,
	[PDDS_PROD_TYPE] [char](1) NOT NULL,
	[PDDS_MCTR_BCAT] [char](4) NOT NULL,
	[CLCL_MICRO_ID] [char](18) NOT NULL,
	[CLCL_UNABL_FROM_DT] [datetime] NOT NULL,
	[CLCL_UNABL_TO_DT] [datetime] NOT NULL,
	[CLCL_RELHP_FROM_DT] [datetime] NOT NULL,
	[CLCL_RELHP_TO_DT] [datetime] NOT NULL,
	[CLCL_OUT_LAB_IND] [char](1) NOT NULL,
	[CLCL_MECD_RESUB_NO] [char](15) NOT NULL,
	[PRAD_TYPE] [char](3) NOT NULL,
	[CLCL_PCA_IND] [char](1) NOT NULL,
	[CLCL_OOA_IND] [char](1) NOT NULL,
	[CLCL_EXT_REF_IND] [char](1) NOT NULL,
	[CLCL_RAD_ENC_IND] [char](1) NOT NULL,
	[CLCL_REC_ENC_IND] [char](1) NOT NULL,
	[CLCL_COB_EOB_IND] [char](1) NOT NULL,
	[CLCL_PAP_EOB_IND] [char](1) NOT NULL,
	[CLCL_HSA_IND] [char](1) NOT NULL,
	[CLCL_REL_CLCL_ID] [varchar](12) NOT NULL,
	[USUS_ID] [char](10) NOT NULL,
	[CLCL_LOCK_TOKEN] [smallint] NOT NULL,
	[ATXR_SOURCE_ID] [datetime] NOT NULL,
 CONSTRAINT [CMCX_CLCL_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[CLCL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
